.perennialContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    
}

.perennial {
    width: 45%;

}

.topContainer {
    width: 50%;
    border: 2px solid #a9b497;
    background-color: #fcfbfa;
    border-radius: 5px;
}

.topContainer .careContainer {
    column-gap: 30px ;
    margin: 0 15px 30px;
    padding: 20px;

}

.careContainer {
    margin: 12px;
    width: 50%;
    border: 3px solid #d2d0c1;
    background-color: #fcfbfa;
    border-radius: 5px;
}