.signupContainer{

    padding: 16px;
    text-align: center;


}


.signupContainer input[type=text], input[type=email], 
input[type=password]{

    width: 20%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;

}

.logo{
    border-radius: 35px;
    width: 15%;
}


.topContainer{

    padding: 20px;
    text-align: center;
}


.nameContainer label input{

    padding: 16px;

}


.submit{

    background-color: #04AA6D;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 8%;
    border-radius: 5px;


}