.container{
text-align: center;
border: none;
display: flex;
flex-direction: column;
padding: 20px;
align-items: center;

}

.intro{
border: none;
padding: 12px ;
width: 20%;
margin-bottom: 10px;
}

.infoContainer {
border: 3px solid #a9b497 ;
margin: 0 15px 30px;
width: 80%;
background-color: #fcfbfa;
border-radius: 5px;
}

.collage{
width: 45%;
}