.container{
text-align: center;
border: 1px solid black;
display: flex;
flex-direction: column;
padding: 20px;
align-items: center;

}

.intro{
border: 2px solid purple;
padding: 12px ;
width: 20%;
margin-bottom: 10px;
}

.infoContainer {
border: 3px solid blue;
margin: 0 15px 30px;
width: 80%;
}

.collage{
width: 45%;
}