/* body{
    background-image: url("../pictures/welcomeBackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-color: #d2d0c1 ;
} */

.mainHeader{
    margin-top: 120px;
    text-align: center;
    background-image: url("../pictures/welcomeBackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-color: #d2d0c1 ;
}

.mainContainer{

margin-top: 0px;

}


.welcomeImg{

    width: 20%;



}